<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>My Personal Page</title>
</head>
<body>
    <div id="header">
        <h1>My Personal Page</h1>
    </div>

    <div id="profile">
        <img src="{% static 'profile2.PNG' %}" alt="Profile" width="200" height="200" align="center"/>
        <h1>Hanifa Ariana</h1>
    </div>
    
    <div id="main">
        <h3>֍֍֍֍֍֍֍֍֍֍֍</h3>
        <h2>A B O U T &nbsp;&nbsp;&nbsp; M E</h2>
        <p>An ESFP-A person who likes to explore new experiences and enjoy to meet new people ヽ(*⌒▽⌒*)ﾉ.</p>
        <div id="table1">
        <table style="width:190%">
            <tr>
                <td>NPM</td>
                <td>1906306092</td>
            </tr>
            <tr>
                <td>Student of</td>
                <td>Fasilkom UI 2019</td>
            </tr>
            <tr>
                <td>Hobby</td>
                <td>Listening to music</td>
            </tr>
        </table>
    </div>
    <br>

        <div id="edu">
        <h3>Educations</h3>
        <table style="width:102%">
            <tr>
                <td>SMPN 99 Jakarta</td>
                <td>2013 — 2016</td>
            </tr>
            <tr>
                <td>SMAN 68 Jakarta</td>
                <td>2016 — 2019</td>
            </tr>
            <tr>
                <td>Faculty of Computer Science, UI</td>
                <td>2019 — present</td>
            </tr>
        </table>
        </div>
        <h3>֍֍֍֍֍֍֍֍֍֍֍</h3>

    </div>

    <div id="socmed">
        <h2>More Info</h2>
        <a href="https://www.instagram.com/hanifariana/" target="_blank">
            <img src="{% static 'ig.png' %}" alt="Ig @hanifariana" width="50" height="50" hspace="20"/>
        </a>
        <a href="https://www.twitter.com/hanifariana" target="_blank">
            <img src="{% static 'twitter.png' %}" alt="Twitter @hanifariana" width="50" height="50" hspace="20"/>
        </a>
        <a href="https://www.linkedin.com/in/hanifa-ariana-8832a61a0/" target="_blank">
            <img src="{% static 'linkedin.png' %}" alt="LinkedIn Hanifa Ariana" width="50" height="50" hspace="20" />
        </a>
        <a href="https://open.spotify.com/user/hanifariana?si=_rDme1xBSb6GCyol1DDNWw" target="_blank">
            <img src="{% static 'spotify.png' %} " alt="Spotify Hanifa Ariana" width="50" height="50" hspace="20"/>
        </a>
    </div>
</body>

<footer>
    <p>© 2020 Hanifa Ariana</p>
</footer>
</html>